@textOverflow: {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@text: rgb(210,210,210);
@darkText: rgb(150, 150, 150);
@subject: rgb(236,65,65);

.main{
  height: 100%;
  margin-top: 60px;
  overflow: hidden;
  margin-left: 210px;
  display: flex;
  align-content: baseline;
  flex-direction: column;
  .top {
    height: 20px;
  }
}
* {
  padding: 0;
  margin: 0;
}
html,body,#app {
  height: 100%;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  overflow: hidden;
  background-color: rgb(43,43,43);
}