@import './scroll';

@textOverflow: {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@text: rgb(210,210,210);
@darkText: rgb(150, 150, 150);
@subject: rgb(236,65,65);

#box {
  margin-top: 62px;
  display: flex;
  height: calc(100% - 2px);
}
.main{
  height: 100%;
  //margin-top: 60px;
  overflow: hidden;
  overflow-y: auto;
  width: 100%;
  //margin-left: 210px;
  display: flex;
  align-content: baseline;
  flex-direction: column;
  .top {
    margin-bottom: 20px;
  }
}
* {
  padding: 0;
  margin: 0;
}
html,body,#app {
  height: 100%;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: white;
  overflow: hidden;
  background-color: rgb(43,43,43);
}
#app {
  user-select: none;
}
.window-container {
  -webkit-app-region: drag;
  .no-drag {
    -webkit-app-region: no-drag;
  }
}
